
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
  }
  
.homepage-container {
  position: relative;  
  width: 100vw;
  height: 100vh;
}

.image-display {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;  
  position: absolute; /* Ensure consistency */
  top: 0;
  left: 0;
  z-index: -1; /* Push behind content */
}

  
.button-container {
  display: flex;
  overflow: hidden;
  position: absolute; 
  top: 80%;  
  left: 50%;  
  transform: translate(-50%, -50%); 
  display: flex; 
  gap: 15px;
}



.login-button {
  border-radius: 2vw;
  border: .3vw solid rgb(114, 136, 120);
  background-color: #4CAF50;
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  
  cursor: pointer;
  display: inline-block;
  left: 100vw;
}

.login-button:hover {
  background-color: #45a049;
}

.register-button {
  border-radius: 2vw;
  border: .3vw solid rgb(114, 136, 120);
  background-color: #4CAF50;
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  left: 100vw;
}

.register-button:hover {
  background-color: #45a049;
}

.booklessonbutton {
  border-radius: 2vw;
  background-color: #4CAF50;
  border: .3vw solid rgb(114, 136, 120);
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  right: 100vw;
}

.booklessonbutton:hover {
  background-color: #45a049;
}